original_repo/
.vscode/arduino.json
.vscode/c_cpp_properties.json
.vscode/settings.json
esp32_marauder/.vscode/settings.json
00b27c8e8735ed12922a5d2965135ea1608864ae.patch
945a3b23666565a902e738e9d8e249a9510c7aa1.patch
6657d1daaa1409a1b337f36924a967c7d12b78fa.patch
esp32s3_marauder/.vscode/settings.json
esp32s3_marauder/.theia/launch.json
esp32s3_marauder/.windsurfrules
v1.1.0.patch
v1.2.0.patch
v1.2.1.patch
utils.h